<template>
    <aside class="menu">
        <div v-for="area in menu.areas" v-if="(area.userGroup == 'admin' && user.role == 'admin') || area.userGroup == 'all'">
            <p class="menu-label">{{ area.name }}</p>

            <ul class="menu-list">
                <li v-for="link in area.links">
                    <a :href="link.url" :class="{ 'is-active': link.active }">
						<span class="icon is-small">
							<i :class="link.icon"></i>
						</span>

                        <span>{{ link.text }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                menu: {
                    areas: [
                        {
                            name: 'General',
                            userGroup: 'all',
                            links: [
                                {
                                    text: 'Home',
                                    url: '/home',
                                    active: false,
                                    icon: 'fa fa-home'
                                },

                                {
                                    text: 'Formulas',
                                    url: '/formulas',
                                    active: false,
                                    icon: 'fa fa-line-chart'
                                }
                            ]
                        },

                        {
                            name: 'Administration',
                            userGroup: 'admin',
                            links: [
                                {
                                    text: 'Dashboard',
                                    url: '/admin',
                                    active: false,
                                    icon: 'fa fa-dashboard'
                                },

                                {
                                    text: 'Users',
                                    url: '/admin/users',
                                    active: false,
                                    icon: 'fa fa-users'
                                }
                            ]
                        },

                        {
                            name: 'Settings',
                            userGroup: 'all',
                            links: [
                                {
                                    text: 'My Account',
                                    url: '/users/account',
                                    active: false,
                                    icon: 'fa fa-cog'
                                }
                            ]
                        }
                    ]
                }
            }
        },

        computed: {
            ...mapGetters({
                user: 'user'
            })
        },

        mounted() {
            this.menu.areas.forEach((area) => {
                let currentLink = area.links.find((item) => {
                    return item.url == window.location.pathname;
                });

                if (currentLink) currentLink.active = true;
            });
        }
    }
</script>