<template>
    <canvas ref="chart" :width="width" :height="height"></canvas>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        props: ['width', 'height', 'type', 'data', 'options'],

        computed: {
            chart() {
                return new Chart(this.$refs.chart, {
                    type: this.type,

                    data: this.data,

                    options: this.options
                })
            }
        },

        mounted() {
            this.chart.update();
        },

        watch: {
            data() {
                this.chart.update();
            }
        }
    }
</script>