<template>
    <div>
        <button type="button" class="button is-danger" @click.prevent="showModal = true">
            <span class="icon">
                <i class="fa fa-trash"></i>
            </span>

            <span><slot></slot></span>
        </button>

        <div :class="{ modal: true, 'is-active': showModal }" v-if="showModal">
            <div class="modal-background" @click.prevent="showModal = false"></div>

            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Are you certain you wish to do this?</p>

                    <button type="button" class="delete" @click.prevent="showModal = false"></button>
                </header>

                <section class="modal-card-body">
                    <p>This action cannot be undone.</p>
                </section>

                <footer class="modal-card-foot">
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="button" class="button is-danger" @click.prevent="confirmAction">
                                    <span class="icon">
                                        <i class="fa fa-check"></i>
                                    </span>

                                <span>Yes</span>
                            </button>
                        </div>

                        <div class="control">
                            <button type="button" class="button is-link" @click.prevent="showModal = false">
                                    <span class="icon">
                                        <i class="fa fa-close"></i>
                                    </span>

                                <span>No</span>
                            </button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showModal: false
            }
        },

        methods: {
            confirmAction() {
                this.$emit('confirmAction');

                this.showModal = false;
            }
        }
    }
</script>
