<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title" role="button" style="cursor: pointer;" @click.prevent="showCredential = !showCredential">
                {{ credential.name }}
            </p>

            <a class="card-header-icon" @click.prevent="showCredential = !showCredential">
                <span class="icon is-pulled-right" v-if="!showCredential">
                    <i class="fa fa-angle-right"></i>
                </span>

                <span class="icon is-pulled-right" v-if="showCredential">
                    <i class="fa fa-angle-down"></i>
                </span>
            </a>
        </header>

        <div class="card-content" v-if="showCredential">
            <p v-if="credential.username"><strong>Username:</strong> {{ credential.username }}</p>
            <p v-if="credential.email"><strong>Email:</strong> {{ credential.email }}</p>
            <p v-if="credential.password"><strong>Password:</strong> {{ credential.password }}</p>
            <p v-if="credential.note"><strong>Note:</strong></p>
            <p v-if="credential.note">{{ credential.note }}</p>
            <p><strong>Formula:</strong> {{ credential.formula.name }}</p>

            <div class="is-clearfix">
                <div class="is-pulled-right" style="margin-left: 10px;">
                    <confirm-action v-on:confirmAction="deleteCredential">Delete</confirm-action>
                </div>

                <div class="is-pulled-right">
                    <edit-credential :cred="credential"></edit-credential>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';
    import { mapGetters } from 'vuex';

    export default {
        props: ['cred'],

        data() {
            return {
                showCredential: false
            }
        },

        computed: {
            ...mapGetters({
                master_password: 'master_password'
            }),

            credential() {
                return this.cred;
            }
        },

        watch: {
            cred() {
                this.credential = this.cred;

                if(this.parseJSON(this.credential.secret)) {
                    this.credential.secret = sjcl.decrypt(this.master_password, this.credential.secret);
                }

                if(this.parseJSON(this.credential.password)) {
                    this.credential.password = sjcl.decrypt(this.master_password, this.credential.password);
                }
            }
        },

        mounted() {
            if(this.parseJSON(this.credential.secret)) {
                this.credential.secret = sjcl.decrypt(this.master_password, this.credential.secret);
            }

            if(this.parseJSON(this.credential.password)) {
                this.credential.password = sjcl.decrypt(this.master_password, this.credential.password);
            }
        },

        methods: {
            deleteCredential() {
                let form = new Form({
                    id: this.credential.id,
                    name: this.credential.name,
                    username: this.credential.username,
                    email: this.credential.email,
                    url: this.credential.url,
                    secret: this.credential.secret,
                    password: this.credential.password,
                    note: this.credential.note,
                    formula_id: this.credential.formula_id,
                    encrypted_password: this.credential.encrypted_password,
                    created_at: this.credential.created_at,
                    updated_at: this.credential.updated_at,
                    formula: this.credential.formula,
                    user_id: this.credential.user_id
                });

                form.delete('/credentials/' + this.credential.id)
                        .then(data => {
                            if(data.deleted) {
                                this.$store.dispatch('removeCredential', data.credential);

                                this.$store.dispatch('loadCredentials');

                                this.showModal = false;

                                let notification = {
                                    title: 'Credential Removed',
                                    message: 'Your credential has been removed.',
                                    type: 'is-success'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            } else {
                                let notification = {
                                    title: 'Uh oh...',
                                    message: 'There was an error and your credential was not removed.',
                                    type: 'is-danger'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            }
                        })
                        .catch(errors => {
                            let notification = {
                                title: 'Uh oh...',
                                message: 'There was an error and your credential was not removed.',
                                type: 'is-danger'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        });
            },

            parseJSON(json) {
                try {
                    let parsedJson = JSON.parse(json);

                    if(parsedJson && typeof parsedJson === 'object') {
                        return parsedJson;
                    }
                } catch(e) {
                    console.log(e);
                }

                return false;
            }
        }
    }
</script>
