<template>
    <div>
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Search your credentials' names, usernames, emails, URLs and passwords..." v-model="searchInput">

                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                </span>
            </div>

            <div class="control">
                <button type="button" class="button" @click.prevent="searchInput = ''" :disabled="searchInput === ''">
                    <span class="icon">
                        <i class="fa fa-close"></i>
                    </span>
                </button>
            </div>
        </div>

        <div class="notification is-warning" v-if="searchList.length < 1 && !loadingVault">
            <p class="title">We came up empty!</p>

            <p>No credentials found, try adding some.</p>
        </div>

        <credential v-if="searchList && !loadingVault" v-for="credential in searchList" :cred="credential"></credential>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                searchInput: '',

                credentialList: []
            }
        },

        computed: {
            ...mapGetters({
                credentials: 'credentials',
                loadingVault: 'loadingVault'
            }),

            searchList() {
                return this.search();
            }
        },

        watch: {
            credentials() {
                this.credentialList = this.credentials;
            }
        },

        methods: {
            search() {
                return this.credentialList.filter((item) => {
                    return item.name.toLowerCase().includes(this.searchInput.toLowerCase()) ||
                            (item.username ? item.username.toLowerCase().includes(this.searchInput.toLowerCase()) : false) ||
                            (item.email ? item.email.toLowerCase().includes(this.searchInput.toLowerCase()): false) ||
                            (item.url ? item.url.toLowerCase().includes(this.searchInput.toLowerCase()): false) ||
                            item.password.toLowerCase().includes(this.searchInput.toLowerCase());
                });
            }
        }
    }
</script>
