<template>
    <div>
        <div :class="{ modal: true, 'is-active': showModal }" v-if="showModal">
            <div class="modal-background" @click.prevent="hideModal"></div>

            <form role="form" method="POST" action="/formulas" @submit.prevent="updateFormula" @keydown="form.errors.clear($event.target.name)">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Edit Formula</p>

                        <button type="button" class="delete" @click.prevent="hideModal"></button>
                    </header>

                    <section class="modal-card-body">
                        <nav class="pagination is-centered">
                            <a class="pagination-previous" @click.prevent="prevStep" :disabled="steps[0].active">
                                <span class="icon">
                                    <i class="fa fa-arrow-left"></i>
                                </span>

                                Previous
                            </a>

                            <a class="pagination-next" @click.prevent="nextStep" :disabled="steps[5].active">
                                Next

                                <span class="icon">
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </a>

                            <ul class="pagination-list">
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[0].active }" @click.prevent="openStep(1)">1</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[1].active }" @click.prevent="openStep(2)">2</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[2].active }" @click.prevent="openStep(3)">3</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[3].active }" @click.prevent="openStep(4)">4</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[4].active }" @click.prevent="openStep(5)">5</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[5].active }" @click.prevent="openStep(6)">6</a></li>
                            </ul>
                        </nav>

                        <div v-if="steps[0].active" :class="steps[0].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Formula Name
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>Give the formula a meaningful name so that you can identify it later.</p>
                                </div>
                            </div>

                            <div class="field box">
                                <label class="label" for="name">Name <span class="tag is-warning">Required</span></label>

                                <div :class="{ control: true, 'has-icon': form.errors.has('name'), 'has-icon-right': form.errors.has('name'), animated: form.errors.has('name'), shake: form.errors.has('name') }">
                                    <input type="text" :class="{ input: true, 'is-danger': form.errors.has('name') }" name="name" id="name" v-model="form.name" placeholder="My Awesome Custom Formula" required>

                                    <span class="icon is-small" v-if="form.errors.has('name')">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                </div>

                                <p class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></p>
                            </div>

                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Set Default
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>Toggling this option makes this formula the default selected when creating new credentials.</p>

                                    <br/>

                                    <div class="columns">
                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on"></i>
                                        </span>

                                            means toggled on.
                                        </div>

                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-off"></i>
                                        </span>

                                            means toggled off.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field box">
                                <label class="label" for="name">Default</label>

                                <div class="control">
                                    <button type="button" class="button" @click.prevent="form.default = !form.default">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on" v-if="form.default"></i>
                                            <i class="fa fa-toggle-off" v-if="!form.default"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[1].active" :class="steps[1].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Character Offsets
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>Offsetting characters will shift the character left if using negative numbers, right if using positive numbers. For example, -3 will shift the letter "C" to the left, making the result "A".</p>

                                    <br/>

                                    <p>Toggle character offset for Vowels and Consonants using the switches next to the inputs.</p>

                                    <br/>

                                    <div class="columns">
                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on"></i>
                                        </span>

                                            means toggled on.
                                        </div>

                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-off"></i>
                                        </span>

                                            means toggled off.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal box">
                                <div class="field-body">
                                    <div class="field-label is-normal">Vowels</div>

                                    <div class="field has-addons">
                                        <div class="control">
                                            <button type="button" class="button" @click.prevent="form.useVowelOffset = !form.useVowelOffset">
                                            <span class="icon">
                                                <i class="fa fa-toggle-on" v-if="form.useVowelOffset"></i>
                                                <i class="fa fa-toggle-off" v-if="!form.useVowelOffset"></i>
                                            </span>
                                            </button>
                                        </div>

                                        <div class="control">
                                            <input class="input" type="number" step="1" min="-25" max="25" v-model="form.vowelOffset" :disabled="!form.useVowelOffset">
                                        </div>
                                    </div>

                                    <div class="field-label is-normal">Consonants</div>

                                    <div class="field has-addons">
                                        <div class="control">
                                            <button type="button" class="button" @click.prevent="form.useConsonantOffset = !form.useConsonantOffset">
                                            <span class="icon">
                                                <i class="fa fa-toggle-on" v-if="form.useConsonantOffset"></i>
                                                <i class="fa fa-toggle-off" v-if="!form.useConsonantOffset"></i>
                                            </span>
                                            </button>
                                        </div>

                                        <div class="control">
                                            <input class="input" type="number" step="1" min="-25" max="25" v-model="form.consonantOffset" :disabled="!form.useConsonantOffset">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[2].active" :class="steps[2].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Character Counts
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>Counting characters will add the amount of vowels or consonants to the end of your Autheated password, with the consonant count being first and the vowel count after. For example, if your secret word is "autheate" the digits appended to your Autheated password would be "35".</p>

                                    <br/>

                                    <p>Toggle character counting for Vowels and Consonants using the switches.</p>

                                    <br/>

                                    <div class="columns">
                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on"></i>
                                        </span>

                                            means toggled on.
                                        </div>

                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-off"></i>
                                        </span>

                                            means toggled off.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal box">
                                <div class="field-body">
                                    <label class="field-label is-normal">Vowels</label>

                                    <div class="field">
                                        <div class="control">
                                            <button type="button" class="button" @click.prevent="form.countVowels = !form.countVowels">
                                                <span class="icon">
                                                    <i class="fa fa-toggle-on" v-if="form.countVowels"></i>
                                                    <i class="fa fa-toggle-off" v-if="!form.countVowels"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                    <label class="field-label is-normal">Consonants</label>

                                    <div class="field">
                                        <div class="control">
                                            <button type="button" class="button" @click.prevent="form.countConsonants = !form.countConsonants">
                                                <span class="icon">
                                                    <i class="fa fa-toggle-on" v-if="form.countConsonants"></i>
                                                    <i class="fa fa-toggle-off" v-if="!form.countConsonants"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[3].active" :class="steps[3].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Locate Capitals
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>Locating capitals will add the numeric location of capitals to the end of your Autheated password, with the first character being "1". For example, if your secret word is "AuthEate" the digits appended to your Autheated password would be "15".</p>

                                    <br/>

                                    <p>Toggle capital locating using the switches.</p>

                                    <br/>

                                    <div class="columns">
                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on"></i>
                                        </span>

                                            means toggled on.
                                        </div>

                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-off"></i>
                                        </span>

                                            means toggled off.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal box">
                                <div class="field-body">
                                    <label class="field-label is-normal">Locate Capitals</label>

                                    <div class="field">
                                        <div class="control">
                                            <button type="button" class="button" @click.prevent="form.locateCapitals = !form.locateCapitals">
                                                <span class="icon">
                                                    <i class="fa fa-toggle-on" v-if="form.locateCapitals"></i>
                                                    <i class="fa fa-toggle-off" v-if="!form.locateCapitals"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[4].active" :class="steps[4].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Use Major Mnemonic System
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>The Major Mnemonic System is a phonetic mnemonic system that replaces characters with digits. For example, if your secret word is "secret" your Autheated password would be "0741". For more information on how the Major Mnemonic System works, please click <a href='/about-formulas'>here</a>.</p>

                                    <br/>

                                    <p>Toggle the use of MMS using the switches.</p>

                                    <br/>

                                    <div class="columns">
                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on"></i>
                                        </span>

                                            means toggled on.
                                        </div>

                                        <div class="column is-half has-text-centered">
                                        <span class="icon">
                                            <i class="fa fa-toggle-off"></i>
                                        </span>

                                            means toggled off.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal box">
                                <div class="field-body">
                                    <label class="field-label is-normal">Use MMS?</label>

                                    <div class="field">
                                        <div class="control">
                                            <button type="button" class="button" @click.prevent="form.useMajorSystem = !form.useMajorSystem">
                                        <span class="icon">
                                            <i class="fa fa-toggle-on" v-if="form.useMajorSystem"></i>
                                            <i class="fa fa-toggle-off" v-if="!form.useMajorSystem"></i>
                                        </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[5].active" :class="steps[5].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">
                                Symbol Injection
                                </a>
                            </h4>

                            <div class="notification">
                                <div class="help">
                                    <p>Enter in any symbols you would like to inject in between the characters and digits of your Autheated password. This helps you to remember when the characters you entered into your secret word end and the start of any digits that will be appended, whilst also boosting the strength of your password. For example, if your secret word is "Autheate" and your symbol was "!", your Autheated password (depending on what formula you use) may be "Xrwkbxwb!351".</p>

                                    <br/>

                                    <p>Accepted symbols are:
                                        <code>! ? | . , @ # $ % & * _ ~</code>
                                    </p>
                                </div>
                            </div>

                            <div class="field box">
                                <label class="label">Symbol(s)</label>

                                <div class="control">
                                    <input class="input" type="text" v-model="form.symbol" placeholder="You can use symbols like: '!' or '@' or '#' etc.">
                                </div>
                            </div>
                        </div>
                    </section>

                    <footer class="modal-card-foot">
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" :class="{ button: true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>

                                    <span>Save Formula</span>
                                </button>
                            </div>

                            <div class="control">
                                <button type="button" class="button is-link" @click.prevent="hideModal">
                                    <span class="icon">
                                        <i class="fa fa-trash"></i>
                                    </span>

                                    <span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import store from '../store';
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';

    export default {
        data() {
            return {
                form: new Form({
                    id: '',
                    user_id: '',
                    name: '',
                    useVowelOffset: false,
                    useConsonantOffset: false,
                    vowelOffset: 0,
                    consonantOffset: 0,
                    countVowels: false,
                    countConsonants: false,
                    locateCapitals: false,
                    symbol: '',
                    useMajorSystem: false,
                    default: false
                }),

                steps: [
                    {
                        step: 1,

                        active: true,

                        classes: {
                            animated: true,
                            slideInLeft: false
                        }
                    },

                    {
                        step: 2,

                        active: false,

                        classes: {
                            animated: true,
                            slideInLeft: false,
                            slideInRight: false
                        }
                    },

                    {
                        step: 3,

                        active: false,

                        classes: {
                            animated: true,
                            slideInLeft: false,
                            slideInRight: false
                        }
                    },

                    {
                        step: 4,

                        active: false,

                        classes: {
                            animated: true,
                            slideInLeft: false,
                            slideInRight: false
                        }
                    },

                    {
                        step: 5,

                        active: false,

                        classes: {
                            animated: true,
                            slideInLeft: false,
                            slideInRight: false
                        }
                    },

                    {
                        step: 6,

                        active: false,

                        classes: {
                            animated: true,
                            slideInRight: false
                        }
                    }
                ],

                isLoading: false
            }
        },

        props: ['formul', 'showModal'],

        mounted() {
            this.form.id = this.formula.id;
            this.form.user_id = this.formula.user_id;
            this.form.name = this.formula.name;
            this.form.useVowelOffset = this.formula.useVowelOffset;
            this.form.useConsonantOffset = this.formula.useConsonantOffset;
            this.form.vowelOffset = this.formula.vowelOffset;
            this.form.consonantOffset = this.formula.consonantOffset;
            this.form.countVowels = this.formula.countVowels;
            this.form.countConsonants = this.formula.countConsonants;
            this.form.locateCapitals = this.formula.locateCapitals;
            this.form.symbol = this.formula.symbol;
            this.form.useMajorSystem = this.formula.useMajorSystem;
            this.form.default = this.formula.default;
        },

        computed: {
            formula() {
                return this.formul;
            }
        },

        watch: {
            'form.symbol'() {
                const symbols = /[a-zA-Z0-9 	:/\\<>\-+{}();`\[\]=]/;

                if(this.form.symbol) this.form.symbol = this.form.symbol.replace(symbols, '');
            },

            formul() {
                this.formula = this.formul;
            }
        },

        methods: {
            updateFormula() {
                this.isLoading = true;

                this.form.patch('/formulas/' + this.formula.id)
                        .then(data => {
                            this.isLoading = false;

                            if(data.saved) {
                                this.$store.dispatch('updateFormula', data.formula);

                                this.$store.dispatch('loadFormulas');

                                this.hideModal();

                                let notification = {
                                    title: 'Formula Updated',
                                    message: 'Your Formula changes have been saved.',
                                    type: 'is-success'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            } else {
                                let notification = {
                                    title: 'Uh oh...',
                                    message: 'There was an error and your formula was not updated.',
                                    type: 'is-danger'
                                };

                                this.$store.dispatch('addNewNotification', notification);

                                if(this.form.errors.any()) this.openStep(1);
                            }
                        })
                        .catch(error => {
                            this.isLoading = false;

                            if(this.form.errors.any()) this.openStep(1);
                        });
            },

            hideModal() {
                this.form.reset();

                this.$emit('hideEditFormulaModal');
            },

            prevStep(stepNumber = null, oldStepNumber = null) {
                if(stepNumber && oldStepNumber) {
                    this.steps[oldStepNumber - 1].active = false;

                    this.steps[stepNumber - 1].classes.slideInRight = false;
                    this.steps[stepNumber - 1].classes.slideInLeft = true;

                    this.steps[stepNumber - 1].active = true;
                } else {
                    let oldStep = this.steps.find((item) => {
                        return item.active;
                    });

                    oldStep.active = false;

                    this.steps[oldStep.step - 2].classes.slideInRight = false;
                    this.steps[oldStep.step - 2].classes.slideInLeft = true;

                    this.steps[oldStep.step - 2].active = true;
                }
            },

            nextStep(stepNumber = null, oldStepNumber = null) {
                if(stepNumber && oldStepNumber) {
                    this.steps[oldStepNumber - 1].active = false;

                    this.steps[stepNumber - 1].classes.slideInLeft = false;
                    this.steps[stepNumber - 1].classes.slideInRight = true;

                    this.steps[stepNumber - 1].active = true;
                } else {
                    let oldStep = this.steps.find((item) => {
                        return item.active;
                    });

                    oldStep.active = false;

                    this.steps[oldStep.step].classes.slideInLeft = false;
                    this.steps[oldStep.step].classes.slideInRight = true;

                    this.steps[oldStep.step].active = true;
                }
            },

            openStep(stepNumber) {
                let oldStep = this.steps.find((item) => {
                    return item.active;
                });

                if(oldStep.step > stepNumber) {
                    this.prevStep(stepNumber, oldStep.step);
                } else {
                    this.nextStep(stepNumber, oldStep.step);
                }
            }
        }
    }
</script>
