<template>
	<input class="input" ref="flatpickr" :placeholder="placeholder">
</template>

<script>
	import Flatpickr from 'flatpickr';

	export default {
		props: ['dateFormat', 'value', 'placeholder'],

		watch: {
			value() {
				if (!this.value) this.$refs.flatpickr.value = '';
			}
		},

		mounted() {
			new Flatpickr(this.$refs.flatpickr, {
				dateFormat: this.dateFormat,
				onChange: (dateObj, dateStr) => this.$emit('dateChanged', dateStr)
			});
		}
	}
</script>