<template>
    <div>
        <div class="has-text-centered" v-if="loadingFormulas">
            <span class="icon">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
            </span>
        </div>

        <div class="notification is-warning" v-if="formulas.length < 1 && !loadingFormulas">
            <p class="title">We came up empty!</p>

            <p>No Formulas found, try adding some.</p>
        </div>

        <formula v-if="formulas && !loadingFormulas" v-for="formula in formulas" :formul="formula"></formula>
    </div>
</template>

<script>
    import store from '../store';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        computed: mapGetters({
            formulas: 'formulas',
            loadingFormulas: 'loadingFormulas'
        }),

        mounted() {
            this.$store.dispatch('getFormulas');
        }
    }
</script>
