<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title" role="button" style="cursor: pointer;" @click.prevent="showFormula = !showFormula">
                {{ formula.name }}
                <span v-if="formula.default" class="tag is-primary" style="margin-left: 10px;">default</span>
            </p>

            <a class="card-header-icon" @click.prevent="showFormula = !showFormula">
                <span class="icon is-pulled-right" v-if="!showFormula">
                    <i class="fa fa-angle-right"></i>
                </span>

                <span class="icon is-pulled-right" v-if="showFormula">
                    <i class="fa fa-angle-down"></i>
                </span>
            </a>
        </header>

        <div class="card-content" v-if="showFormula">
            <span class="tag is-primary" v-if="formula.default">default</span>
            <span class="tag is-info" v-if="formula.useVowelOffset">v-offset: {{ formula.vowelOffset }}</span>
            <span class="tag is-info" v-if="formula.countVowels">count vowels</span>
            <span class="tag is-warning" v-if="formula.useConsonantOffset">c-offset: {{ formula.consonantOffset }}</span>
            <span class="tag is-warning" v-if="formula.countConsonants">count consonants</span>
            <span class="tag is-success" v-if="formula.locateCapitals">locate capitals</span>
            <span class="tag is-dark" v-if="formula.symbol">symbol(s): {{ formula.symbol }}</span>
            <span class="tag is-danger" v-if="formula.useMajorSystem">use MMS</span>

            <div class="is-clearfix" v-if="formula.name !== 'Autheate Standard'">
                <div class="is-pulled-right" style="margin-left: 10px;">
                    <confirm-action v-on:confirmAction="deleteFormula">Delete</confirm-action>
                </div>

                <div class="is-pulled-right">
                    <button type="button" class="button is-info" @click.prevent="showEditFormulaModal = true">
                        <span class="icon">
                            <i class="fa fa-edit"></i>
                        </span>

                        <span>Edit</span>
                    </button>

                    <edit-formula :formul="formula"
                                  showModal="showEditFormulaModal"
                                  v-if="showEditFormulaModal"
                                  v-on:hideEditFormulaModal="showEditFormulaModal = false"
                    ></edit-formula>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';
    import { mapGetters } from 'vuex';

    export default {
        props: ['formul'],

        data() {
            return {
                showFormula: false,

                showEditFormulaModal: false
            }
        },

        computed: {
            formula() {
                return this.formul;
            }
        },

        watch: {
            formul() {
                this.formula = this.formul;
            }
        },

        methods: {
            deleteFormula() {
                let form = new Form({

                });

                form.delete('/formulas/' + this.formula.id)
                    .then(data => {
                        if(data.deleted) {
                            this.$store.dispatch('removeFormula', data.formula);

                            this.$store.dispatch('loadFormulas');

                            this.showModal = false;

                            let notification = {
                                title: 'Formula Removed',
                                message: 'Your formula has been removed.',
                                type: 'is-success'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        } else {
                            let notification = {
                                title: 'Uh oh...',
                                message: 'There was an error and your formula was not removed.',
                                type: 'is-danger'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        }
                    })
                    .catch(errors => {
                        let notification = {
                            title: 'Uh oh...',
                            message: 'There was an error and your formula was not removed.',
                            type: 'is-danger'
                        };

                        this.$store.dispatch('addNewNotification', notification);
                    });
            }
        }
    }
</script>
