<template>
    <div class="modal is-active">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <div class="message">
                    <div class="message-header">
                        <p>Your Vault Is Locked</p>
                    </div>

                    <div class="message-body">
                        <p>To protect your information your vault is automatically locked after a period of inactivity of one (1) minute on Autheate.</p>

                        <br/>

                        <p>If you navigate away from Autheate, close the tab or close the browser you will be logged out of your account to prevent unauthorised access to your information through your computer.</p>

                        <br/>

                        <p>To unlock your vault, please enter your password in below.</p>

                        <br/>

                        <form role="form" method="POST" action="/users" @submit.prevent="unlockVault" @keydown="form.errors.clear($event.target.name)">
                            <div class="field">
                                <label class="label">Your Password</label>

                                <div :class="{ control: true, 'has-icon': form.errors.has('password'), 'has-icon-right': form.errors.has('password'), animated: form.errors.has('password'), shake: form.errors.has('password') }">
                                    <input :class="{ input: true, 'is-danger': form.errors.has('password') }" type="password" name="password" placeholder="Your Password..." v-model="form.password" required>

                                    <span class="icon is-small" v-if="form.errors.has('password')">
                                    <i class="fa fa-warning"></i>
                                </span>
                                </div>

                                <p class="help is-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button :class="{ button: true, 'is-primary': true, 'is-loading': isLoading }" :disabled="form.errors.any()" type="submit">
                                    <span class="icon">
                                        <i class="fa fa-unlock"></i>
                                    </span>
                                        <span>
                                        Unlock Vault
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';

    export default {
        data() {
            return {
                isLoading: false,

                form: new Form({
                    password: ''
                })
            }
        },

        methods: {
            unlockVault() {
                this.isLoading = true;

                this.form.post('/users/verify')
                        .then(data => {
                            this.isLoading = false;

                            if(data.verified) {
                                this.$store.dispatch('unlockVault');
                            } else {
                                let notification = {
                                    title: 'Incorrect Password',
                                    message: 'The password you entered does not match what we have in our system.',
                                    type: 'is-danger'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            }
                        })
                        .catch(error => {
                            this.isLoading = false;

                            let message = 'There was an error and your vault was not unlocked. Please try again.';

                            if(error.password) message = error.password[0];

                            let notification = {
                                title: 'Uh oh...',
                                message: message,
                                type: 'is-danger'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        })
            }
        }
    }
</script>