<template>
    <form :class="{ 'animated': form.errors.any(), 'shake': form.errors.any() }" role="form" method="POST" action="/login" @submit.prevent="login" @keydown="form.errors.clear()">
        <div class="notification is-danger" v-if="form.errors.any()">
            Incorrect email or password. Please try again.
        </div>

        <div class="field">
            <label for="email" class="label">E-Mail Address</label>

            <div class="control has-icon">
                <input id="email" type="email" class="input" name="email" v-model="form.email" placeholder="Your email address." required autofocus>

                <span class="icon is-small">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label for="password" class="label">Password</label>

            <div class="control has-icon">
                <input id="password" type="password" class="input" name="password" v-model="form.password" placeholder="Your password." required>

                <span class="icon is-small">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="remember" v-model="form.remember"> Remember Me
                </label>
            </div>
        </div>

        <grecaptcha ref="grecaptcha"></grecaptcha>

        <div class="field is-grouped">
            <div class="control">
                <button type="submit" :class="{ 'button': true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                                <span class="icon">
                                    <i class="fa fa-sign-in"></i>
                                </span>
                    <span>Login</span>
                </button>
            </div>

            <div class="control">
                <a class="button is-link" href="/password/reset">
                    Forgot Your Password?
                </a>
            </div>
        </div>
    </form>
</template>

<script>
    import store from '../store';
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';

    export default {
        data() {
            return {
                form: new Form({
                    email: '',
                    password: '',
                    remember: false
                }),

                isLoading: false
            }
        },

        methods: {
            login() {
                this.isLoading = true;

                this.$refs.grecaptcha.validate()
                        .then(() => {
                            this.form.post('/login')
                                    .then(data => {
                                        this.isLoading = false;

                                        window.location.href="/home";
                                    })
                                    .catch(error => {
                                        this.isLoading = false;
                                    });
                        })
                        .catch(() => {
                            this.isLoading = false;
                        });
            }
        }
    }
</script>
