<template>
    <div class="nav-item">
        <div class="nav-item" @click.prevent="user.dropdown = !user.dropdown" style="cursor: pointer;">
            <span class="icon" style="margin-right: 8px;">
                <i class="fa fa-user"></i>
            </span>

            {{ user.name }}
        </div>

        <div v-if="user.dropdown" style="display: block; right: 0; position: absolute; top: 100%; z-index: 1000;">
            <div class="box">
                <aside class="menu">
                    <ul class="menu-list has-text-left">
                        <li>
                            <a href="/users/account">
                                <span class="icon">
                                    <i class="fa fa-cog"></i>
                                </span>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" @click.prevent="lockVault">
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                Lock Vault
                            </a>
                        </li>
                        <li>
                            <a href="/logout" @click.prevent="logout">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</template>

<script>
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                user: {
                    dropdown: false,
                    name: ''
                }
            }
        },

        computed: {
            ...mapGetters({
                currentUser: 'user'
            })
        },

        watch: {
            currentUser() {
                this.user.name = this.currentUser.name;
            }
        },

        methods: {
            logout() {
                let logoutForm = new Form({
                    user: this.user
                });

                logoutForm.post('/logout')
                        .then((data) => {
                            if(data.loggedOut) {
                                window.location.href = '/';
                            }
                        })
                        .catch((data) => {
                            console.log(data);
                        });
            },

            lockVault() {
                this.user.dropdown = false;

                this.$store.dispatch('lockVault');
            }
        }
    }
</script>