<template>
    <div>
        <button type="button" class="button is-primary" @click.prevent="openModal">
            <span class="icon">
                <i class="fa fa-plus"></i>
            </span>

            <span>Add Credential</span>
        </button>

        <div :class="{ modal: true, 'is-active': showModal }" v-if="showModal">
            <div class="modal-background" @click.prevent="hideModal"></div>

            <form role="form" method="POST" action="/credentials" @submit.prevent="addNewCredential" @keydown="form.errors.clear($event.target.name)">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add a New Credential</p>

                        <button type="button" class="delete" @click.prevent="hideModal"></button>
                    </header>

                    <section class="modal-card-body">
                        <nav class="pagination is-centered">
                            <a class="pagination-previous" @click.prevent="prevStep" :disabled="steps[0].active">
                                <span class="icon">
                                    <i class="fa fa-arrow-left"></i>
                                </span>

                                Previous
                            </a>

                            <a class="pagination-next" @click.prevent="nextStep" :disabled="steps[2].active">
                                Next

                                <span class="icon">
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </a>

                            <ul class="pagination-list">
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[0].active }" @click.prevent="openStep(1)">Step 1</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[1].active }" @click.prevent="openStep(2)">Step 2</a></li>
                                <li><a :class="{ 'pagination-link': true, 'is-current': steps[2].active }" @click.prevent="openStep(3)">Step 3</a></li>
                            </ul>
                        </nav>

                        <div v-if="steps[0].active" :class="steps[0].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">1. General Info</h4>

                            <div class="box">
                                <div class="field">
                                    <label for="name" class="label">Name <span class="tag is-warning" v-if="!form.name">Required</span></label>

                                    <div :class="{ control: true, 'has-icon': form.errors.has('name'), 'has-icon-right': form.errors.has('name'), animated: form.errors.has('name'), shake: form.errors.has('name') }">
                                        <input id="name" type="text" :class="{ input: true, 'is-danger': form.errors.has('name') }" name="name" v-model="form.name" placeholder="Something to identify this credential." required autofocus>

                                        <span class="icon is-small" v-if="form.errors.has('name')">
                                            <i class="fa fa-warning"></i>
                                        </span>
                                    </div>

                                    <p class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></p>
                                </div>

                                <div class="field">
                                    <label for="username" class="label">Username</label>

                                    <div class="control">
                                        <input id="username" type="text" class="input" name="username" v-model="form.username" placeholder="Your username (if needed).">
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="email" class="label">E-Mail Address</label>

                                    <div class="control">
                                        <input id="email" type="email" class="input" name="email" v-model="form.email" placeholder="Your email (if needed).">
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="url" class="label">URL</label>

                                    <div class="control">
                                        <input id="url" type="text" class="input" name="url" v-model="form.url" placeholder="The website address.">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[1].active" :class="steps[1].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">2. Let's Autheate!</h4>

                            <div class="field box">
                                <div class="columns">
                                    <div class="column">
                                        <label for="selectedFormula" class="label">Formula</label>
                                    </div>

                                    <div class="column is-right">
                                        <button type="button" class="button is-primary is-outlined is-small" @click.prevent="showFormulaModal = true">
                                            <span class="icon">
                                                <i class="fa fa-plus"></i>
                                            </span>

                                            <span>Create New Formula</span>
                                        </button>
                                    </div>
                                </div>


                                <div class="control columns">
                                    <div class="column is-half">
                                        <div class="select">
                                            <select id="selectedFormula" name="selectedFormula" v-model="selectedFormula">
                                                <option v-for="formula in formulas" :value="{ formula }">
                                                    {{ formula.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="column is-half" v-if="selectedFormula">
                                        <span class="tag is-primary" v-if="selectedFormula.formula.default">default</span>
                                        <span class="tag is-info" v-if="selectedFormula.formula.useVowelOffset">v-offset: {{ selectedFormula.formula.vowelOffset }}</span>
                                        <span class="tag is-info" v-if="selectedFormula.formula.countVowels">count vowels</span>
                                        <span class="tag is-warning" v-if="selectedFormula.formula.useConsonantOffset">c-offset: {{ selectedFormula.formula.consonantOffset }}</span>
                                        <span class="tag is-warning" v-if="selectedFormula.formula.countConsonants">count consonants</span>
                                        <span class="tag is-success" v-if="selectedFormula.formula.locateCapitals">locate capitals</span>
                                        <span class="tag is-dark" v-if="selectedFormula.formula.symbol">symbol(s): {{ selectedFormula.formula.symbol }}</span>
                                        <span class="tag is-danger" v-if="selectedFormula.formula.useMajorSystem">use MMS</span>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="field">
                                    <label for="secret" class="label">Secret Word  <span class="tag is-warning" v-if="!form.password_entry">Required</span></label>

                                    <div :class="{ control: true, 'has-icon': form.errors.has('password'), 'has-icon-right': form.errors.has('password'), animated: form.errors.has('password'), shake: form.errors.has('password') }">
                                        <input id="secret" type="text" :class="{ input: true, 'is-danger': form.errors.has('password') }" name="secret" v-model="form.secret" placeholder="A secret word you can remember." @keydown="form.errors.clear('password')" required>

                                        <span class="icon is-small" v-if="form.errors.has('password')">
                                    <i class="fa fa-warning"></i>
                                </span>
                                    </div>

                                    <p class="help is-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></p>
                                </div>

                                <div class="field">
                                    <label for="password" class="label">Autheated Password</label>

                                    <div class="control">
                                        <input id="password" type="text" class="input" name="password" v-model="form.password" readonly>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Password Strength</label>

                                    <div class="control">
                                        <progress :class="passwordStrength.classes" :value="passwordStrength.value" max="100"></progress>

                                        <p class="help has-text-centered" style="margin-top: -40px;">{{ passwordStrength.strength }}</p>

                                        <p class="help" v-if="passwordStrength.feedback.warning">{{ passwordStrength.feedback.warning }}</p>

                                        <p class="help" v-if="passwordStrength.feedback.suggestions.length > 0">
                                            <strong>Tip:</strong>

                                            <ul>
                                                <li v-for="suggestion in passwordStrength.feedback.suggestions" v-text="suggestion"></li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="steps[2].active" :class="steps[2].classes">
                            <h4 class="title is-4" style="margin-top: 1.5em;">3. Anything Else?</h4>

                            <div class="field box">
                                <label for="note" class="label">Note</label>

                                <div class="control">
                                    <textarea id="note" class="textarea" name="note" v-model="form.note" placeholder="Any extra notes you might need."></textarea>
                                </div>
                            </div>
                        </div>
                    </section>

                    <footer class="modal-card-foot">
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" :class="{ button: true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>

                                    <span>Add To Vault</span>
                                </button>
                            </div>

                            <div class="control">
                                <button type="button" class="button is-link" @click.prevent="hideModal">
                                    <span class="icon">
                                        <i class="fa fa-trash"></i>
                                    </span>

                                    <span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>

        <new-formula v-if="showFormulaModal"
                     showModal="showFormulaModal"
                     v-on:hideFormulaModal="hideFormulaModal"
                     v-on:selectNewlyAddedFormula="selectNewlyAddedFormula"
        ></new-formula>
    </div>
</template>

<script>
    import Formulas from '../api/formulas';
    import store from '../store';
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                form: new Form({
                    name: '',
                    username: '',
                    email: '',
                    url: '',
                    secret: '',
                    password: '',
                    note: '',
                    formula_id: '',
                    encrypted_secret: '',
                    encrypted_password: ''
                }),

                selectedFormula: {},

                isLoading: false,

                showModal: false,

                showFormulaModal: false,

                steps: [
                    {
                        step: 1,

                        active: true,

                        classes: {
                            animated: true,
                            slideInLeft: false
                        }
                    },

                    {
                        step: 2,

                        active: false,

                        classes: {
                            animated: true,
                            slideInLeft: false,
                            slideInRight: false
                        }
                    },

                    {
                        step: 3,

                        active: false,

                        classes: {
                            animated: true,
                            slideInRight: false
                        }
                    }
                ],
            }
        },

        computed: {
            ...mapGetters({
                formulas: 'formulas',
                master_password: 'master_password'
            }),

            initiallySelectedFormula() {
                return this.formulas.find((item) => {
                    return item.default == 1;
                });
            },

            passwordStrength() {
                let result = zxcvbn(this.form.password);

                let value = 0;

                let classes = {
                    progress: true,
                    'is-danger': true
                };

                let strength = "Weak";

                switch(result.score) {
                    case 1:
                        value = 25;
                        break;
                    case 2:
                        value = 50;

                        classes = {
                            progress: true,
                            'is-warning': true
                        };

                        strength = "Getting There...";
                        break;
                    case 3:
                        value = 75;

                        classes = {
                            progress: true,
                            'is-primary': true
                        };

                        strength = "Decent";
                        break;
                    case 4:
                        value = 100;

                        classes = {
                            progress: true,
                            'is-success': true
                        };

                        strength = "Strong";
                        break;
                    default:
                        value = 0;

                        classes = {
                            progress: true,
                            'is-danger': true
                        };
                        break;
                }

                return {
                    score: result.score,
                    value,
                    feedback: result.feedback,
                    classes,
                    strength
                };
            }
        },

        mounted() {
            this.$store.dispatch('loadFormulas');
        },

        watch: {
            'form.secret'() {
                if(this.form.secret) {
                    this.form.password = Formulas.autheatePassword(
                            this.form.secret,
                            this.selectedFormula.formula.useVowelOffset ? this.selectedFormula.formula.vowelOffset : null,
                            this.selectedFormula.formula.useConsonantOffset ? this.selectedFormula.formula.consonantOffset : null,
                            this.selectedFormula.formula.countVowels,
                            this.selectedFormula.formula.countConsonants,
                            this.selectedFormula.formula.locateCapitals,
                            this.selectedFormula.formula.symbol,
                            this.selectedFormula.formula.useMajorSystem
                    );
                } else {
                    this.form.password = "";
                }
            },

            initiallySelectedFormula() {
                this.selectedFormula = { formula: this.initiallySelectedFormula };
            },

            selectedFormula() {
                if(this.form.secret) {
                    this.form.password = Formulas.autheatePassword(
                            this.form.secret,
                            this.selectedFormula.formula.useVowelOffset ? this.selectedFormula.formula.vowelOffset : null,
                            this.selectedFormula.formula.useConsonantOffset ? this.selectedFormula.formula.consonantOffset : null,
                            this.selectedFormula.formula.countVowels,
                            this.selectedFormula.formula.countConsonants,
                            this.selectedFormula.formula.locateCapitals,
                            this.selectedFormula.formula.symbol,
                            this.selectedFormula.formula.useMajorSystem
                    );
                } else {
                    this.form.password = "";
                }
            }
        },

        methods: {
            addNewCredential() {
                this.isLoading = true;

                this.form.formula_id = this.selectedFormula.formula.id;
                this.form.encrypted_secret = sjcl.encrypt(this.master_password, this.form.secret);
                this.form.encrypted_password = sjcl.encrypt(this.master_password, this.form.password);

                this.form.post('/credentials')
                        .then(data => {
                            this.isLoading = false;

                            if(data.saved) {
                                this.$store.dispatch('addNewCredential', data.credential);

                                this.showModal = false;

                                let notification = {
                                    title: 'Credential Added',
                                    message: 'Your newly Autheated credential has been successfully added to the vault.',
                                    type: 'is-success'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            } else {
                                let notification = {
                                    title: 'Uh oh...',
                                    message: 'There was an error and your credential was not saved.',
                                    type: 'is-danger'
                                };

                                this.$store.dispatch('addNewNotification', notification);

                                if(this.form.errors.has('password')) this.openStep(2);

                                if(this.form.errors.has('name')) this.openStep(1);
                            }
                        })
                        .catch(errors => {
                            this.isLoading = false;

                            if(this.form.errors.has('password')) this.openStep(2);

                            if(this.form.errors.has('name')) this.openStep(1);
                        });
            },

            openModal() {
                this.openStep(1);

                this.showModal = true;
            },

            hideModal() {
                this.form.reset();

                this.showModal = false;
            },

            hideFormulaModal() {
                this.showFormulaModal = false;
            },

            prevStep(stepNumber = null, oldStepNumber = null) {
                if(stepNumber && oldStepNumber) {
                    this.steps[oldStepNumber - 1].active = false;

                    this.steps[stepNumber - 1].classes.slideInRight = false;
                    this.steps[stepNumber - 1].classes.slideInLeft = true;

                    this.steps[stepNumber - 1].active = true;
                } else {
                    let oldStep = this.steps.find((item) => {
                        return item.active;
                    });

                    oldStep.active = false;

                    this.steps[oldStep.step - 2].classes.slideInRight = false;
                    this.steps[oldStep.step - 2].classes.slideInLeft = true;

                    this.steps[oldStep.step - 2].active = true;
                }
            },

            nextStep(stepNumber = null, oldStepNumber = null) {
                if(stepNumber && oldStepNumber) {
                    this.steps[oldStepNumber - 1].active = false;

                    this.steps[stepNumber - 1].classes.slideInLeft = false;
                    this.steps[stepNumber - 1].classes.slideInRight = true;

                    this.steps[stepNumber - 1].active = true;
                } else {
                    let oldStep = this.steps.find((item) => {
                        return item.active;
                    });

                    oldStep.active = false;

                    this.steps[oldStep.step].classes.slideInLeft = false;
                    this.steps[oldStep.step].classes.slideInRight = true;

                    this.steps[oldStep.step].active = true;
                }
            },

            openStep(stepNumber) {
                let oldStep = this.steps.find((item) => {
                    return item.active;
                });

                if(oldStep.step > stepNumber) {
                    this.prevStep(stepNumber, oldStep.step);
                } else {
                    this.nextStep(stepNumber, oldStep.step);
                }
            },

            selectNewlyAddedFormula(id) {
                let formula = this.formulas.find((item) => {
                    return item.id == id[0];
                });

                this.selectedFormula = { formula }
            }
        }
    }
</script>
