<template>
    <div>
        <button type="button" class="button is-primary" @click.prevent="showFormulaModal = true">
        <span class="icon">
            <i class="fa fa-plus"></i>
        </span>

            <span>Create New Formula</span>
        </button>

        <new-formula v-if="showFormulaModal"
                     showModal="showFormulaModal"
                     v-on:hideFormulaModal="showFormulaModal = false"
        ></new-formula>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showFormulaModal: false
            }
        }
    }
</script>