<template>
    <div v-if="notifications" style="position: absolute; bottom: 20px; right: 20px;">
        <notification-alert v-if="notifications" v-for="notification in notifications" :notification="notification"></notification-alert>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        computed: mapGetters({
            notifications: 'notifications'
        })
    }
</script>
