<template>
    <div :class="classes" v-if="isDisplayed">
        <p class="title">{{ notification.title }}</p>

        <p>{{ notification.message }}</p>
    </div>
</template>

<script>
    import store from '../store';

    export default {
        props: ['notification'],

        data() {
            return {
                isDisplayed: true,

                classes: {
                    notification: true,
                    animated: true,
                    slideInRight: true,
                    'is-danger': this.notification.type == 'is-danger',
                    'is-success': this.notification.type == 'is-success',
                    'is-warning': this.notification.type == 'is-warning',
                    'is-info': this.notification.type == 'is-info',
                    'is-primary': this.notification.type == 'is-primary'
                }
            }
        },

        mounted() {
            setTimeout(() => {
                this.classes.slideInRight = false;
                this.classes.slideOutRight = true;
                this.classes.animated = true;

                setTimeout(() => {
                    this.$store.dispatch('removeNotification', this.notification);
                }, 3000);
            }, 3000);
        }
    }
</script>
