<template>
    <div class="field">
        <div class="control">
            <div id="grecaptcha" class="g-recaptcha"></div>
        </div>
    </div>
</template>

<script>
    import { Form } from '../classes/Form';
    import { Errors } from '../classes/Errors';

    export default {
        data() {
            return {
                sitekey: '6LeqYR4UAAAAAEkWVdmrZm7Tf673YCvZ4akGKeFD',
                secret: '6LeqYR4UAAAAABT8lSDXG8i02l1CSWOaaZJYjpJQ',
                token: ''
            }
        },

        mounted() {
            var script = document.createElement('script');
            script.src = 'https://www.google.com/recaptcha/api.js?render=explicit';
            script.setAttribute('async', '');
            script.setAttribute('defer', '');
            script.onload = this.renderWait;

            document.head.appendChild(script);
        },

        methods: {
            validate() {
                return new Promise((resolve, reject) => {
                    grecaptcha.execute();

                    let self = this;

                    (function waitForToken() {
                        if(self.token) {
                            let form = new Form({
                                secret: self.secret,
                                response: self.token
                            });

                            form.post('/users/recaptcha')
                                    .then(data => {
                                        if(data.success) {
                                            grecaptcha.reset();

                                            resolve();
                                        } else {
                                            let notification = {
                                                title: 'Uh Oh...',
                                                message: "Google's reCAPTCHA service couldn't verify you as a human. Please refresh the page and try again.",
                                                type: 'is-danger'
                                            };

                                            self.$store.dispatch('addNewNotification', notification);

                                            grecaptcha.reset();

                                            reject();
                                        }
                                    })
                                    .catch(error => {
                                        console.log(error);

                                        let notification = {
                                            title: 'Uh Oh...',
                                            message: "Google's reCAPTCHA service broke, preventing us from checking if you are human. Please refresh the page and try again to login.",
                                            type: 'is-danger'
                                        };

                                        self.$store.dispatch('addNewNotification', notification);

                                        reject();
                                    });
                        } else {
                            setTimeout(waitForToken, 50);
                        }
                    })();
                });
            },

            callback(token) {
                this.token = token;

                grecaptcha.reset();
            },

            renderWait() {
                setTimeout(() => {
                    if(typeof grecaptcha !== 'undefined') {
                        this.render();
                    } else {
                        this.renderWait();
                    }
                }, 200);
            },

            render() {
                grecaptcha.render('grecaptcha', {
                    sitekey: this.sitekey,
                    size: 'invisible',
                    callback: this.callback
                });
            }
        }
    }
</script>