<template>
    <form role="form" method="POST" action="/register" @submit.prevent="register" @keydown="form.errors.clear($event.target.name)">
        <div class="field">
            <label for="name" class="label">Name</label>

            <div :class="{ control: true, 'has-icon': form.errors.has('name'), 'has-icon-right': form.errors.has('name'), animated: form.errors.has('name'), shake: form.errors.has('name') }">
                <input id="name" type="text" :class="{ input: true, 'is-danger': form.errors.has('name') }" name="name" v-model="form.name" placeholder="Full Name" required autofocus>

                <span class="icon is-small" v-if="form.errors.has('name')">
                    <i class="fa fa-warning"></i>
                </span>
            </div>

            <p class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></p>
        </div>

        <div class="field">
            <label for="email" class="label">E-Mail Address</label>

            <div :class="{ control: true, 'has-icon': form.errors.has('email'), 'has-icon-right': form.errors.has('email'), animated: form.errors.has('email'), shake: form.errors.has('email') }">
                <input id="email" type="email" :class="{ input: true, 'is-danger': form.errors.has('email') }" name="email" v-model="form.email" placeholder="Email Address" required>

                <span class="icon is-small" v-if="form.errors.has('email')">
                    <i class="fa fa-warning"></i>
                </span>
            </div>

            <p class="help is-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></p>
        </div>

        <div class="field">
            <label for="password" class="label">Password</label>

            <div :class="{ control: true, 'has-icon': form.errors.has('password'), 'has-icon-right': form.errors.has('password'), animated: form.errors.has('password'), shake: form.errors.has('password') }">
                <input id="password" type="password" :class="{ input: true, 'is-danger': form.errors.has('password') }" v-model="form.password" placeholder="Password" name="password" required @keydown="form.errors.clear('password')">

                <span class="icon is-small" v-if="form.errors.has('password')">
                    <i class="fa fa-warning"></i>
                </span>
            </div>

            <p class="help is-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></p>
        </div>

        <div class="field">
            <label for="password-confirm" class="label">Confirm Password</label>

            <div :class="{ control: true, 'has-icon': form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.', 'has-icon-right': form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.', animated: form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.', shake: form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.' }">
                <input id="password-confirm" type="password" :class="{ input: true, 'is-danger': form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.' }" v-model="form.password_confirmation" placeholder="Confirm Password" name="password_confirmation" required @keydown="form.errors.clear('password')">

                <span class="icon is-small" v-if="form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.'">
                    <i class="fa fa-warning"></i>
                </span>
            </div>

            <p class="help is-danger" v-if="form.errors.has('password') && form.errors.get('password') == 'The password confirmation does not match.'" v-text="form.errors.get('password')"></p>
        </div>

        <grecaptcha ref="grecaptcha"></grecaptcha>

        <div class="field">
            <div class="control">
                <button type="submit" :class="{ 'button': true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                    Register
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import store from '../store';
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';

    export default {
        data() {
            return {
                form: new Form({
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    role: 'user'
                }),

                isLoading: false
            }
        },

        methods: {
            register() {
                this.isLoading = true;

                this.$refs.grecaptcha.validate()
                        .then(() => {
                            this.form.post('/register')
                                    .then(data => {
                                        this.isLoading = false;

                                        window.location.href='/home';
                                    })
                                    .catch(error => {
                                        this.isLoading = false;

                                        let notification = {
                                            title: 'Uh oh...',
                                            message: 'There was an error and you were not registered.',
                                            type: 'is-danger'
                                        };

                                        this.$store.dispatch('addNewNotification', notification);
                                    });
                        })
                        .catch(() => {
                            this.isLoading = false;
                        });
            }
        }
    }
</script>
