<template>
    <form role="form" method="POST" action="/password/email" @submit.prevent="sendPasswordResetLink" @keydown="form.errors.clear($event.target.name)">
        <div class="field">
            <label for="email" class="label">E-Mail Address</label>

            <div :class="{ control: true, 'has-icon': form.errors.has('email'), 'has-icon-right': form.errors.has('email'), animated: form.errors.has('email'), shake: form.errors.has('email') }">
                <input id="email" type="email" :class="{ input: true, 'is-danger': form.errors.has('email') }" name="email" v-model="form.email" placeholder="Email Address" required>

                <span class="icon is-small" v-if="form.errors.has('email')">
                    <i class="fa fa-warning"></i>
                </span>
            </div>

            <p class="help is-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></p>
        </div>

        <grecaptcha ref="grecaptcha"></grecaptcha>

        <div class="field">
            <div class="control">
                <button type="submit" :class="{ 'button': true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                    <span class="icon">
                        <i class="fa fa-paper-plane"></i>
                    </span>

                    <span>Send Password Reset Link</span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import store from '../store';
    import { Errors } from '../classes/Errors';
    import { Form } from '../classes/Form';

    export default {
        data() {
            return {
                form: new Form({
                    email: '',
                }),

                isLoading: false
            }
        },

        methods: {
            sendPasswordResetLink() {
                this.isLoading = true;

                this.$refs.grecaptcha.validate()
                    .then(() => {
                        this.form.post('/password/email')
                            .then(data => {
                                this.isLoading = false;

                                if(data.success) {
                                    let notification = {
                                        title: 'Password Reset Email Sent',
                                        message: data.message,
                                        type: 'is-success'
                                    };

                                    this.$store.dispatch('addNewNotification', notification);
                                } else {
                                    let notification = {
                                        title: 'Uh oh...',
                                        message: 'There was an error and your password reset email was not sent.',
                                        type: 'is-danger'
                                    };

                                    this.$store.dispatch('addNewNotification', notification);
                                }
                            })
                            .catch(error => {
                                this.isLoading = false;

                                let notification = {
                                    title: 'Uh oh...',
                                    message: 'There was an error and your password reset email was not sent.',
                                    type: 'is-danger'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            });
                    })
                    .catch(() => {
                        this.isLoading = false;
                    });
            }
        }
    }
</script>
