<template>
    <div class="columns">
        <div class="column is-8">
            <form role="form" method="POST" action="/users" @submit.prevent="updateUser" @keydown="form.errors.clear($event.target.name)">
                <button type="button" class="button is-pulled-right" @click.prevent="editProfile = true" v-if="!editProfile">
                        <span class="icon">
                            <i class="fa fa-edit"></i>
                        </span>
                </button>

                <h4 class="title is-4">My Profile</h4>

                <div class="field box">
                    <label class="label" for="name">Name</label>

                    <p v-if="!editProfile">{{ user.name }}</p>

                    <div :class="{ control: true, 'has-icon': form.errors.has('name'), 'has-icon-right': form.errors.has('name'), animated: form.errors.has('name'), shake: form.errors.has('name') }"
                         v-if="editProfile"
                    >
                        <input type="text" :class="{ input: true, 'is-danger': form.errors.has('name') }" name="name" id="name" v-model="form.name" placeholder="My Name" required>

                        <span class="icon is-small" v-if="form.errors.has('name')">
                            <i class="fa fa-warning"></i>
                        </span>
                    </div>

                    <p class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></p>
                </div>

                <div class="field box">
                    <label class="label" for="name">Email</label>

                    <p v-if="!editProfile">{{ user.email }}</p>

                    <div :class="{ control: true, 'has-icon': form.errors.has('email'), 'has-icon-right': form.errors.has('email'), animated: form.errors.has('email'), shake: form.errors.has('email') }"
                         v-if="editProfile"
                    >
                        <input type="email" :class="{ input: true, 'is-danger': form.errors.has('email') }" name="email" id="email" v-model="form.email" placeholder="My Email" required>

                        <span class="icon is-small" v-if="form.errors.has('email')">
                            <i class="fa fa-warning"></i>
                        </span>
                    </div>

                    <p class="help is-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></p>
                </div>

                <div v-if="editProfile">
                    <p>
                        <button type="submit" :class="{ button: true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                            <span class="icon">
                                <i class="fa fa-save"></i>
                            </span>

                            <span>Save Profile</span>
                        </button>

                        <button type="button" class="button is-link" @click.prevent="cancelEditProfile">
                            <span class="icon">
                                <i class="fa fa-trash"></i>
                            </span>

                            <span>Cancel Changes</span>
                        </button>
                    </p>
                </div>

                <button type="button" class="button is-pulled-right" @click.prevent="editPassword = true" v-if="!editPassword"  style="margin-top: 20px;">
                        <span class="icon">
                            <i class="fa fa-edit"></i>
                        </span>
                </button>

                <h4 class="title is-4" style="margin-top: 40px;">My Password</h4>

                <div class="box">
                    <p v-if="!editPassword" class="is-help is-small">Click the edit (<span class="icon"><i class="fa fa-edit"></i></span>) button to change your password.</p>

                    <div class="field" v-if="editPassword">
                        <label class="label" for="currentPassword">Current Password</label>

                        <div :class="{ control: true, 'has-icon': form.errors.has('currentPassword'), 'has-icon-right': form.errors.has('currentPassword'), animated: form.errors.has('currentPassword'), shake: form.errors.has('currentPassword') }">
                            <input type="password" :class="{ input: true, 'is-danger': form.errors.has('currentPassword') }" name="currentPassword" id="currentPassword" v-model="form.currentPassword" placeholder="Current Password" required>

                            <span class="icon is-small" v-if="form.errors.has('currentPassword')">
                            <i class="fa fa-warning"></i>
                        </span>
                        </div>

                        <p class="help is-danger" v-if="form.errors.has('currentPassword')" v-text="form.errors.get('currentPassword')"></p>
                    </div>

                    <div class="field" v-if="editPassword">
                        <label class="label" for="password">New Password</label>

                        <div :class="{ control: true, 'has-icon': form.errors.has('password'), 'has-icon-right': form.errors.has('password'), animated: form.errors.has('password'), shake: form.errors.has('password') }">
                            <input type="password" :class="{ input: true, 'is-danger': form.errors.has('password') }" name="password" id="password" v-model="form.password" placeholder="New Password" required>

                            <span class="icon is-small" v-if="form.errors.has('password')">
                            <i class="fa fa-warning"></i>
                        </span>
                        </div>

                        <p class="help is-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></p>
                    </div>

                    <div class="field" v-if="editPassword">
                        <label class="label" for="password_confirmation">Confirm Password</label>

                        <div :class="{ control: true, 'has-icon': form.errors.has('password_confirmation'), 'has-icon-right': form.errors.has('password_confirmation'), animated: form.errors.has('password_confirmation'), shake: form.errors.has('password_confirmation') }">
                            <input type="password" :class="{ input: true, 'is-danger': form.errors.has('password_confirm') }" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation" placeholder="Confirm Password" required>

                            <span class="icon is-small" v-if="form.errors.has('password_confirmation')">
                            <i class="fa fa-warning"></i>
                        </span>
                        </div>

                        <p class="help is-danger" v-if="form.errors.has('password_confirmation')" v-text="form.errors.get('password_confirmation')"></p>
                    </div>
                </div>

                <div v-if="editPassword">
                    <p>
                        <button type="submit" :class="{ button: true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': form.errors.any() }">
                        <span class="icon">
                            <i class="fa fa-save"></i>
                        </span>

                            <span>Change Password</span>
                        </button>

                        <button type="button" class="button is-link" @click.prevent="cancelEditPassword">
                            <span class="icon">
                                <i class="fa fa-trash"></i>
                            </span>

                            <span>Cancel Changes</span>
                        </button>
                    </p>
                </div>
            </form>
        </div>

        <div class="column">
            <div class="message">
                <div class="message-header">
                    What can I do?
                </div>

                <div class="message-body">
                    <p>You can make changes to your profile information such as your name and email address. You can also set a new password.</p>

                    <br/>

                    <p>To make changes to your account, simply click the edit button (<span class="icon"><i class="fa fa-edit"></i></span>) next to the area you wish to edit.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Form } from '../classes/Form';
    import { Errors } from '../classes/Errors';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                isLoading: false,

                editProfile: false,

                editPassword: false,

                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    currentPassword: '',
                    password: '',
                    password_confirmation: ''
                }),
            }
        },

        computed: {
            ...mapGetters({
                user: 'user'
            })
        },

        watch: {
            user() {
                this.form.id = this.user.id;
                this.form.name = this.user.name;
                this.form.email = this.user.email;
            }
        },

        methods: {
            updateUser() {
                this.isLoading = true;

                this.form.patch('/users/' + this.user.id)
                    .then(data => {
                        this.isLoading = false;

                        this.editProfile = false;
                        this.editPassword = false;

                        if(data.saved) {
                            this.$store.dispatch('updateUser', data.user);

                            this.$store.dispatch('getUser');

                            let notification = {
                                title: 'Account Updated',
                                message: 'Your changes have been saved.',
                                type: 'is-success'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        } else {
                            let notification = {
                                title: 'Uh oh...',
                                message: 'There was an error and your account was not updated.',
                                type: 'is-danger'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        }
                    })
                    .catch(error => {
                        this.isLoading = false;

                        let notification = {
                            title: 'Uh oh...',
                            message: 'There was an error and your account was not updated.',
                            type: 'is-danger'
                        };

                        this.$store.dispatch('addNewNotification', notification);
                    });
            },

            cancelEditProfile() {
                this.form.name = this.user.name;
                this.form.email = this.user.email;

                this.form.errors.clear();

                this.editProfile = false;
            },

            cancelEditPassword() {
                this.form.currentPassword = '';
                this.form.password = '';
                this.form.password_confirmation = '';

                this.form.errors.clear();

                this.editPassword = false;
            }
        }
    }
</script>