<template>
    <div>
        <div id="embed-api-auth-container" style="display: none;"></div>
        <div id="view-selector-container" style="display: none;"></div>
        <div id="view-name" style="display: none;"></div>
        <div id="active-users-container" style="display: none;"></div>

        <div class="Chartjs">
            <figure class="Chartjs-figure" id="chart-1-container"></figure>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        data() {
            return {

            }
        },

        mounted() {
            gapi.analytics.ready(() => {

                /**
                 * Authorize the user immediately if the user has already granted access.
                 * If no access has been created, render an authorize button inside the
                 * element with the ID "embed-api-auth-container".
                 */
                gapi.analytics.auth.authorize({
                    container: 'embed-api-auth-container',
                    clientid: '983345904640-p96jlhiom4rb8l14qfcc18h0jfvk7aqp.apps.googleusercontent.com'
                });


                /**
                 * Create a new ActiveUsers instance to be rendered inside of an
                 * element with the id "active-users-container" and poll for changes every
                 * five seconds.
                 */
                var activeUsers = new gapi.analytics.ext.ActiveUsers({
                    container: 'active-users-container',
                    pollingInterval: 5
                });


                /**
                 * Add CSS animation to visually show the when users come and go.
                 */
                activeUsers.once('success', function() {
                    var element = this.container.firstChild;
                    var timeout;

                    this.on('change', function(data) {
                        var element = this.container.firstChild;
                        var animationClass = data.delta > 0 ? 'is-increasing' : 'is-decreasing';
                        element.className += (' ' + animationClass);

                        clearTimeout(timeout);
                        timeout = setTimeout(function() {
                            element.className =
                                    element.className.replace(/ is-(increasing|decreasing)/g, '');
                        }, 3000);
                    });
                });


                /**
                 * Create a new ViewSelector2 instance to be rendered inside of an
                 * element with the id "view-selector-container".
                 */
                var viewSelector = new gapi.analytics.ext.ViewSelector2({
                    container: 'view-selector-container',
                })
                        .execute();


                /**
                 * Update the activeUsers component, the Chartjs charts, and the dashboard
                 * title whenever the user changes the view.
                 */
                viewSelector.on('viewChange', (data) => {
                    var title = document.getElementById('view-name');
                    title.textContent = data.property.name + ' (' + data.view.name + ')';

                    // Start tracking active users for this view.
                    activeUsers.set(data).execute();

                    // Render all the of charts for this view.
                    this.renderWeekOverWeekChart(data.ids);
                });

                // Set some global Chart.js defaults.
                Chart.defaults.global.animationSteps = 60;
                Chart.defaults.global.animationEasing = 'easeInOutQuart';
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;
            });
        },

        methods: {
            renderWeekOverWeekChart(ids) {

                // Adjust `now` to experiment with different days, for testing only...
                var now = moment(); // .subtract(3, 'day');

                var thisWeek = this.query({
                    'ids': ids,
                    'dimensions': 'ga:date,ga:nthDay',
                    'metrics': 'ga:sessions',
                    'start-date': moment(now).subtract(1, 'day').day(0).format('YYYY-MM-DD'),
                    'end-date': moment(now).format('YYYY-MM-DD')
                });

                var lastWeek = this.query({
                    'ids': ids,
                    'dimensions': 'ga:date,ga:nthDay',
                    'metrics': 'ga:sessions',
                    'start-date': moment(now).subtract(1, 'day').day(0).subtract(1, 'week')
                            .format('YYYY-MM-DD'),
                    'end-date': moment(now).subtract(1, 'day').day(6).subtract(1, 'week')
                            .format('YYYY-MM-DD')
                });

                Promise.all([thisWeek, lastWeek]).then((results) => {

                    var data1 = results[0].rows.map(function(row) { return +row[2]; });
                    var data2 = results[1].rows.map(function(row) { return +row[2]; });
                    var labels = results[1].rows.map(function(row) { return +row[0]; });

                    labels = labels.map(function(label) {
                        return moment(label, 'YYYYMMDD').format('ddd');
                    });

                    var data = {
                        labels : labels,
                        datasets : [
                            {
                                label: 'Last Week',
                                backgroundColor : 'rgba(50,115,220,0.5)',
                                borderColor : 'rgba(50,115,220,1)',
                                data : data2
                            },
                            {
                                label: 'This Week',
                                backgroundColor : 'rgba(35,209,96,0.5)',
                                borderColor : 'rgba(35,209,96,1)',
                                data : data1
                            }
                        ]
                    };

                    new Chart(this.makeCanvas('chart-1-container'), {
                        type: 'line',

                        data: data,

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        callback: (value, index, values) => {
                                            if(Math.floor(value) ===  value) return value;
                                        }
                                    }
                                }]
                            }
                        }
                    });
                });
            },

            query(params) {
                return new Promise((resolve, reject) => {
                    this.$store.dispatch('startLoading');

                    var data = new gapi.analytics.report.Data({query: params});
                    data.once('success', (response) => {
                        this.$store.dispatch('finishLoading');

                        resolve(response);
                    })
                            .once('error', (response) => {
                                this.$store.dispatch('errorLoading');

                                reject(response);
                            })
                            .execute();
                });
            },

            makeCanvas(id) {
                var container = document.getElementById(id);
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');

                container.innerHTML = '';
                canvas.width = 300;
                canvas.height = 237;
                container.appendChild(canvas);

                return ctx;
            }
        }
    }
</script>