<template>
    <chartjs :width="width" :height="height" :type="type" :data="data" :options="options"></chartjs>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                width: 300,

                height: 200,

                type: 'line',

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: (value, index, values) => {
                                    if(Math.floor(value) ===  value) return value;
                                }
                            }
                        }]
                    }
                },

                credentials: []
            }
        },

        computed: {
            ...mapGetters({
                loading: 'loading'
            }),

            credentialsCount() {
                return {
                    fiveMonthsAgo: this.credentials.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(5, 'months').startOf('month'), moment().subtract(4, 'months').startOf('month'), 'day', '[]')) return item;
                    }).length,

                    fourMonthsAgo: this.credentials.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(4, 'months').startOf('month'), moment().subtract(3, 'months').startOf('month'), 'day', '[]')) return item;
                    }).length,

                    threeMonthsAgo: this.credentials.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(3, 'months').startOf('month'), moment().subtract(2, 'months').startOf('month'), 'day', '[]')) return item;
                    }).length,

                    twoMonthsAgo: this.credentials.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(2, 'months').startOf('month'), moment().subtract(1, 'months').startOf('month'), 'day', '[]')) return item;
                    }).length,

                    lastMonth: this.credentials.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(1, 'months').startOf('month'), moment().startOf('month'), 'day', '[]')) return item;
                    }).length,

                    thisMonth: this.credentials.filter((item) => {
                        if(moment(item.created_at).isSameOrAfter(moment().startOf('month'), 'day')) return item;
                    }).length
                }
            },

            data() {
                return {
                    labels: [
                        moment().subtract(5, 'months').startOf('month').format('MMMM'),
                        moment().subtract(4, 'months').startOf('month').format('MMMM'),
                        moment().subtract(3, 'months').startOf('month').format('MMMM'),
                        moment().subtract(2, 'months').startOf('month').format('MMMM'),
                        moment().subtract(1, 'months').startOf('month').format('MMMM'),
                        moment().format('MMMM'),
                    ],

                    datasets: [
                        {
                            label: '# of Credentials Created',

                            backgroundColor : 'rgba(35,209,96,0.5)',

                            borderColor : 'rgba(35,209,96,1)',

                            data: [
                                this.credentialsCount.fiveMonthsAgo,

                                this.credentialsCount.fourMonthsAgo,

                                this.credentialsCount.threeMonthsAgo,

                                this.credentialsCount.twoMonthsAgo,

                                this.credentialsCount.lastMonth,

                                this.credentialsCount.thisMonth
                            ]
                        }
                    ]
                }
            }
        },

        mounted() {
            axios.get('/admin/credentials')
                    .then(({data}) => {
                        this.credentials = data;
                    });
        }
    }
</script>