<template>
    <div :class="{ modal: true, 'is-active': showModal }" v-if="showModal">
            <div class="modal-background" @click.prevent="hideModal"></div>

            <form role="form" method="POST" action="/users" @submit.prevent="updateUser" @keydown="form.errors.clear($event.target.name)">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">View User: {{ user.name }}</p>

                        <button type="button" class="delete" @click.prevent="hideModal"></button>
                    </header>

                    <section class="modal-card-body">
                        <button type="button" class="button is-pulled-right" @click.prevent="editProfile = true" v-if="!editProfile">
                                <span class="icon">
                                    <i class="fa fa-edit"></i>
                                </span>
                        </button>

                        <button type="button" class="button is-pulled-right" @click.prevent="cancelEditProfile" v-if="editProfile">
                                <span class="icon">
                                    <i class="fa fa-close"></i>
                                </span>
                        </button>

                        <h4 class="title is-4">{{ user.name }}'s Profile</h4>

                        <div class="field box">
                            <label class="label" for="name">Name</label>

                            <p v-if="!editProfile">{{ user.name }}</p>

                            <div :class="{ control: true, 'has-icon': form.errors.has('name'), 'has-icon-right': form.errors.has('name'), animated: form.errors.has('name'), shake: form.errors.has('name') }"
                                 v-if="editProfile"
                            >
                                <input type="text" :class="{ input: true, 'is-danger': form.errors.has('name') }" name="name" id="name" v-model="form.name" placeholder="My Name" required>

                                <span class="icon is-small" v-if="form.errors.has('name')">
                                    <i class="fa fa-warning"></i>
                                </span>
                            </div>

                            <p class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></p>
                        </div>

                        <div class="field box">
                            <label class="label" for="name">Email</label>

                            <p v-if="!editProfile">{{ user.email }}</p>

                            <div :class="{ control: true, 'has-icon': form.errors.has('email'), 'has-icon-right': form.errors.has('email'), animated: form.errors.has('email'), shake: form.errors.has('email') }"
                                 v-if="editProfile"
                            >
                                <input type="email" :class="{ input: true, 'is-danger': form.errors.has('email') }" name="email" id="email" v-model="form.email" placeholder="My Email" required>

                                <span class="icon is-small" v-if="form.errors.has('email')">
                                    <i class="fa fa-warning"></i>
                                </span>
                            </div>

                            <p class="help is-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></p>
                        </div>

                        <div class="field box">
                            <label class="label" for="name">Role</label>

                            <p v-if="!editProfile">{{ user.role | capitaliseFirst }}</p>

                            <div :class="{ control: true, 'has-icon': form.errors.has('role'), 'has-icon-right': form.errors.has('role'), animated: form.errors.has('role'), shake: form.errors.has('role') }"
                                 v-if="editProfile"
                            >
                                <span :class="{ select: true, 'is-danger': form.errors.has('role') }">
                                    <select v-model="form.role" required>
                                        <option value="user">User</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                </span>

                                <span class="icon is-small" v-if="form.errors.has('role')">
                                    <i class="fa fa-warning"></i>
                                </span>
                            </div>

                            <p class="help is-danger" v-if="form.errors.has('role')" v-text="form.errors.get('role')"></p>
                        </div>

                        <h4 class="title is-4" style="margin-top: 40px;">{{ user.name }}'s Password</h4>

                        <div class="box">
                            <confirm-action v:on:confirmAction="sendPasswordResetEmail">Reset Password</confirm-action>
                        </div>
                        
                    </section>

                    <footer class="modal-card-foot">
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" :class="{ button: true, 'is-primary': true, 'is-loading': isLoading, 'is-disabled': (form.errors.any() || !editProfile) }">
                                    <span class="icon">
                                        <i class="fa fa-save"></i>
                                    </span>

                                    <span>Save Changes</span>
                                </button>
                            </div>

                            <div class="control">
                                <button type="button" class="button is-link" @click.prevent="hideModal">
                                    <span class="icon">
                                        <i class="fa fa-trash"></i>
                                    </span>

                                    <span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </footer>
                </div>
            </form>
        </div>
</template>

<script>
    import { Errors } from '../../classes/Errors';
    import { Form } from '../../classes/Form';
    import { mapGetters } from 'vuex';

    export default {
        props: ['u', 'showModal'],

        data() {
            return {
                editProfile: false,

                isLoading: false
            }
        },

        computed: {
            user() {
                return this.u;
            },

            form() {
                return new Form({
                    id: this.user.id,
                    name: this.user.name,
                    email: this.user.email,
                    role: this.user.role
                });
            }
        },

        watch: {
            u() {
                this.user = this.u;
            }
        },

        methods: {
            updateUser() {
                this.isLoading = true;

                this.form.patch('/admin/users/' + this.user.id)
                        .then(data => {
                            this.isLoading = false;

                            this.editProfile = false;

                            if(data.saved) {
                                this.$store.dispatch('updateUser', data.user);

                                this.$store.dispatch('getUsers');

                                let notification = {
                                    title: 'Account Updated',
                                    message: 'Your changes have been saved.',
                                    type: 'is-success'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            } else {
                                let notification = {
                                    title: 'Uh oh...',
                                    message: 'There was an error and your changes were not saved.',
                                    type: 'is-danger'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            }
                        })
                        .catch(error => {
                            this.isLoading = false;

                            let notification = {
                                title: 'Uh oh...',
                                message: 'There was an error and your changes were not saved.',
                                type: 'is-danger'
                            };

                            this.$store.dispatch('addNewNotification', notification);
                        });
            },

            cancelEditProfile() {
                this.form.reset();

                this.editProfile = false;
            },

            hideModal() {
                this.form.reset();

                this.$emit('hideUserModal');
            },

            sendPasswordResetEmail() {
                this.isLoading = true;

                let passwordResetForm = new Form({
                    email: this.user.email
                });

                passwordResetForm.post('/password/email')
                        .then(data => {
                            this.isLoading = false;

                            if(data.success) {
                                let notification = {
                                    title: 'Password Reset Email Sent',
                                    message: data.message,
                                    type: 'is-success'
                                };

                                this.$store.dispatch('addNewNotification', notification);
                            }
                        })
                        .catch(error => {
                            this.isLoading = false;
                        });
            }
        },

        filters: {
            capitaliseFirst(value) {
                if (!value) return '';

                value = value.toString();

                return value.charAt(0).toUpperCase() + value.slice(1);
            }
        }
    }
</script>
