<template>
    <chartjs :width="width" :height="height" :type="type" :data="data" :options="options"></chartjs>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                width: 300,

                height: 200,

                type: 'line',

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: (value, index, values) => {
                                    if(Math.floor(value) ===  value) return value;
                                }
                            }
                        }]
                    }
                }
            }
        },

        computed: {
            ...mapGetters({
                users: 'users',
                loading: 'loading'
            }),

            data() {
                return {
                    labels: [
                        moment().subtract(5, 'months').startOf('month').format('MMMM'),
                        moment().subtract(4, 'months').startOf('month').format('MMMM'),
                        moment().subtract(3, 'months').startOf('month').format('MMMM'),
                        moment().subtract(2, 'months').startOf('month').format('MMMM'),
                        moment().subtract(1, 'months').startOf('month').format('MMMM'),
                        moment().format('MMMM'),
                    ],

                    datasets: [
                        {
                            label: '# of User Registrations',

                            backgroundColor : 'rgba(35,209,96,0.5)',

                            borderColor : 'rgba(35,209,96,1)',

                            data: [
                                    this.userCounts.fiveMonthsAgo,

                                    this.userCounts.fourMonthsAgo,

                                    this.userCounts.threeMonthsAgo,

                                    this.userCounts.twoMonthsAgo,

                                    this.userCounts.lastMonth,

                                    this.userCounts.thisMonth
                            ]
                        }
                    ]
                }
            },

            filteredUserList() {
                return {
                    fiveMonthsAgo: this.users.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(5, 'months').startOf('month'), moment().subtract(4, 'months').startOf('month'), 'day', '[]')) return item;
                    }),

                    fourMonthsAgo: this.users.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(4, 'months').startOf('month'), moment().subtract(3, 'months').startOf('month'), 'day', '[]')) return item;
                    }),

                    threeMonthsAgo: this.users.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(3, 'months').startOf('month'), moment().subtract(2, 'months').startOf('month'), 'day', '[]')) return item;
                    }),

                    twoMonthsAgo: this.users.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(2, 'months').startOf('month'), moment().subtract(1, 'months').startOf('month'), 'day', '[]')) return item;
                    }),

                    lastMonth: this.users.filter((item) => {
                        if(moment(item.created_at).isBetween(moment().subtract(1, 'months').startOf('month'), moment().startOf('month'), 'day', '[]')) return item;
                    }),

                    thisMonth: this.users.filter((item) => {
                        if(moment(item.created_at).isSameOrAfter(moment().startOf('month'), 'day')) return item;
                    })
                }
            },

            userCounts() {
                return {
                    fiveMonthsAgo: this.filteredUserList.fiveMonthsAgo.length,

                    fourMonthsAgo: this.filteredUserList.fourMonthsAgo.length,

                    threeMonthsAgo: this.filteredUserList.threeMonthsAgo.length,

                    twoMonthsAgo: this.filteredUserList.twoMonthsAgo.length,

                    lastMonth: this.filteredUserList.lastMonth.length,

                    thisMonth: this.filteredUserList.thisMonth.length,
                }
            }
        },

        created() {
            this.$store.dispatch('getUsers');
        }
    }
</script>