<template>
    <div>
        <div class="notification is-warning" v-if="users.length < 1 && !loading">
            <p class="title">We came up empty!</p>

            <p>No users have signed up yet.</p>
        </div>

        <table class="table is-striped" v-if="users && !loading">
            <thead>
                <tr v-if="!limit">
                    <th>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="text" class="input" placeholder="Name..." v-model="searchData.name">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" placeholder="Email..." v-model="searchData.email">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field">
                            <div class="control">
                                <span class="select">
                                    <select v-model="searchData.role">
                                        <option value="all">All</option>
                                        <option value="user">Users</option>
                                        <option value="admin">Admins</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                <flatpickr dateFormat="J M Y" :value="searchData.registeredFrom" placeholder="From..." v-on:dateChanged="registeredFromDateChanged"></flatpickr>
                            </div>

                            <div class="control is-expanded">
                                <flatpickr dateFormat="J M Y" :value="searchData.registeredTo" placeholder="To..." v-on:dateChanged="registeredToDateChanged"></flatpickr>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="field">
                            <div class="control">
                                <button type="button" class="button" @click.prevent="clearSearch">
                                    <span class="icon">
                                        <i class="fa fa-close"></i>
                                    </span>

                                    <span>Clear</span>
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Names</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Registered</th>
                    <th>View</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Names</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Registered</th>
                    <th>View</th>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="user in searchList">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ formatDate(user.created_at) }}</td>
                    <td>
                        <button type="button" class="button is-primary" @click.prevent="viewUser(user.id)">
                            <span class="icon">
                                <i class="fa fa-eye"></i>
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <admin-user v-if="user && showUserModal" :u="user" :showModal="showUserModal" v-on:hideUserModal="hideUserModal"></admin-user>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                searchData: {
                    name: '',
                    email: '',
                    role: 'all',
                    registeredFrom: '',
                    registeredTo: '',
                    updated: ''
                },

                userList: [],

                user: null,

                showUserModal: false
            }
        },

        props: ['limit'],

        computed: {
            ...mapGetters({
                users: 'users',
                loading: 'loading'
            }),

            searchList() {
                return this.search();
            }
        },

        watch: {
            users() {
                if(this.limit) {
                    let limit = this.limit;

                    limit *= -1;

                    this.userList = this.users.slice(1).slice(limit);
                } else {
                    this.userList = this.users
                }

                if(this.user) {
                    this.user = this.users.find((item) => {
                        return item.id === this.user.id;
                    });
                }
            }
        },

        created() {
            this.$store.dispatch('getUsers');
        },

        methods: {
            search() {
                return this.users.filter((item) => {
                    if (item.name.toLowerCase().includes(this.searchData.name.toLowerCase()) &&
                        item.email.toLowerCase().includes(this.searchData.email.toLowerCase()) &&
                        (this.searchData.role === 'all' ? true : item.role === this.searchData.role) &&
                        (this.searchData.registeredFrom && this.searchData.registeredTo ?
                            moment(item.created_at).isBetween(this.searchData.registeredFrom, this.searchData.registeredTo, 'day', '[]')
                            : true) &&
                        (this.searchData.registeredFrom && !this.searchData.registeredTo ?
                            (moment(item.created_at).isSameOrAfter(this.searchData.registeredFrom, 'day'))
                            : true) &&
                        (this.searchData.registeredTo && !this.searchData.registeredFrom ?
                            (moment(item.created_at).isSameOrBefore(this.searchData.registeredTo, 'day'))
                            : true)) {
                            return true;
                        }

                    return false;
                });
            },

            formatDate(date) {
                return moment(date).format('Do MMM YYYY');
            },

            registeredFromDateChanged(date) {
                this.searchData.registeredFrom = moment(date, 'Do MMM YYYY').format('YYYY-MM-DD HH:mm:ss');
            },

            registeredToDateChanged(date) {
                this.searchData.registeredTo = moment(date, 'Do MMM YYYY').format('YYYY-MM-DD HH:mm:ss');
            },

            clearSearch() {
                this.searchData = {
                    name: '',
                    email: '',
                    role: 'all',
                    registeredFrom: '',
                    registeredTo: '',
                    updated: ''
                };
            },

            viewUser(id) {
                this.user = this.users.find((item) => {
                    return item.id === id;
                });

                this.showUserModal = true;
            },

            hideUserModal() {
                this.user = null;

                this.showUserModal = false;
            }
        }
    }
</script>
