
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bulma
@import "node_modules/bulma/bulma";

// Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome";

// Animate.css
@import "node_modules/animate.css/animate";

// Flatpickr
@import "node_modules/flatpickr/dist/flatpickr.min";

// Hide Vuejs mustache variables from rendering until data is received
[v-cloak] {
  display: none;
}

// Position the Google Recaptcha badge
.grecaptcha-badge {
  right: 4px !important;
}